<!DOCTYPE html>
<html>
<head>
	{#<link rel="stylesheet" href="style.css">#}
	<title>{% block titulo %} Ordenes app {% endblock %}</title>
</head>
<body>
	<div id="sidebar">
		{% block sidebar %}
		<ul>
			<li><a href="{% url 'orden_app:index' %}"> Index </a></li>
			<li><a href="{% url 'orden_app:orden_lista' %}"> Ordenes lista </a></li>
			<li><a href="{% url 'orden_app:proceso_lista' %}"> Procesos lista </a></li>
		</ul>		
		{% endblock %}
	</div>

	<div id="contenido">
		{% block contenido %}
		{% endblock %}
	</div>
	
	<footer>
	</footer>
</body>
</html>
